<header class="header">
  <div class="container">
    <div class="header-content">
      <a href="/">
        <h2>Your Hotels</h2>
      </a>
      <nav>
        <a href="/rooms">Habitaciones</a>
        <a href="">Restaurantes</a>
        <a href="">Actividades</a>
        <a href="">Carrito</a>
      </nav>
    </div>
  </div>
</header>
