<header class="header">
  <div class="container">
    <div class="header-content">
      <a href="/">
        <h2>Your Hotels</h2>
      </a>
      <nav>
        <a href="/rooms">Habitaciones</a>
        <a href="/restaurants">Restaurantes</a>
        <a href="/activities">Actividades</a>
        <!--
          <a href="/cart">Carrito</a>
        -->
      </nav>
      <div class="menu" id="menu">
        <p>Menu</p>
      </div>
    </div>
  </div>
  <nav id="menu-bar">
    <p>Salir</p>
    <a href="/rooms">Habitaciones</a>
    <a href="/restaurants">Restaurantes</a>
    <a href="/activities">Actividades</a>
    <!--
      <a href="/cart">Carrito</a>
    -->
  </nav>
</header>
