<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/index.css" />
    <link rel="stylesheet" href="/styles/header.css" />
    <link rel="stylesheet" href="/styles/footer.css">
    <title>Your Hotels</title>
  </head>
  <body>
    <%- include('includes/header') %>
    <div class="container">
      <h2>Your Hotels</h2>
      <p class="description">Lorem Ipsum is simply dummy text</p>
    </div>
    <div class="slider">
        <div class="slider-text">
            <h3>Lorem</h3>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt saepe iure neque inventore aspernatur quidem voluptatibus porro esse veritatis quaerat magnam ea commodi, accusamus similique?
            </p>
        </div>
    </div>
    <%- include('includes/footer') %>
  </body>
</html>
