.title {
  padding: 8rem 0 0 0;
  margin-bottom: 1rem;
}
.activities {
  padding: 0 0 8rem 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 28rem;
  gap: 0.5rem;
}
.activity {
  position: relative;
  width: 100%;
  height: 100%;
}
.activity:first-child {
  grid-column: 1 / 4;
}
.activity:nth-child(4) {
  grid-row: 2 / 4;
}
.activity:nth-child(8) {
  grid-column: 1 / 4;
}
.activity:last-child {
  grid-column:2 / 4;
  grid-row: 3;
}
.activity p {
  text-transform: capitalize;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  padding: 1rem 0;
  text-align: center;
  color: #fff;
  position: absolute;
  bottom: 0;
}
.activity img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
