.header {
  background-color: var(--azul);
  color: var(--blanco);
  padding: 2rem 0;
}
.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: inherit;
}
.header-content nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.8rem;
}
.menu {
  display: none;
}
#menu-bar {
  position: fixed;
  top: 0;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  background-color: var(--azul);
  color: #fff;
  display: none;
}
#menu-bar p {
  position: absolute;
  top: 1rem;
  right: 1rem;
  display: none;
}
@media (max-width: 1024px) {
  .header-content {
    flex-direction: column;
    gap: 2rem;
  }
}
@media (max-width: 480px) {
  .header-content {
    flex-direction: row;
  }
  .header-content nav {
    display: none;
  }
  .menu {
    display: block;
  }
}
