.header {
  background-color: var(--azul);
  color: var(--blanco);
  padding: 2rem 0;
}
.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: inherit;
}
.header-content nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.8rem;
}
.menu {
  display: none;
}
@media (max-width: 1024px) {
  .header-content {
    flex-direction: column;
    gap: 2rem;
  }
}
@media (max-width: 480px) {
  .header-content nav {
    display: none;
  }
  .menu {
    display: block;
  }
}
