@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');
:root {
  --font: 'Raleway', sans-serif;
  --azul: #5463ff;
  --blanco: #ececec;
  --amarillo: #ffc300;
  --rojo: #ff1818;
  --desc: #888;
}
html {
  font-size: 62.5%;
  box-sizing: border-box;
}
body {
  font-family: var(--font);
  position: relative;
  z-index: 1;
  min-height: 100vh;
  padding-bottom: 14rem;
}
* {
  margin: 0;
  padding: 0;
}
*,
::before,
::after {
  box-sizing: inherit;
}
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 3.2rem;
}
h3 {
  font-size: 2.6rem;
}
p,
a,
label,
input,
button {
  font-size: 1.8rem;
}
img {
  width: 100%;
}
ul,
ol,
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}
.container {
  width: 80%;
  margin: 0 auto;
}
.description {
  color: var(--desc);
}
.resume-hotel {
  padding: 8rem 0;
}
.slider {
  width: 100%;
  height: 30rem;
  background-image: url('/images/bg.webp');
}
.slider-text {
  width: 50%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1.6rem;
  color: var(--blanco);
  gap: 2rem;
}
@media (max-width: 768px) {
  .container {
    width: 95%;
  }
  .slider-text {
    width: 100%;
  }
}
