.restaurants {
  padding: 8rem 0;
  display: flex;
  flex-direction: column;
  gap: 6rem;
}
.restaurant {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.restaurant-description {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}
.restaurant-img {
  width: 100%;
  height: 26rem;
}
.restaurant-btn {
  border: none;
  background-color: var(--azul);
  color: #fff;
  padding: 1.5rem 1rem;
  border-radius: .6rem;
  width: fit-content;
}
img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
@media (max-width: 768px) {
  .restaurant {
    grid-template-columns: 1fr;
  }
}
